body {
    background-color: #FF9247;
}

body ui {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background: #FF9247;
    color: #FFF4E5;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

button:hover,
.active {
    background: #32B29D;

}

h1 {
    text-align: center;
    color: #ffffff;
}

table
 {
    text-align: center;
    width: 1000px;
    margin: auto;
    height: 500px;
    border: 1000px;
    align-items: center;
    color: #ffffff;
}


tr{
border: 10px;
}